.heading button
{
    float:right;
    border:1px solid white;
}

.heading{
    width: 100%;
    text-align: left;
}

.heading h3{
    display:inline;
}
.modal-dialog
{
    width: 90%;
}
.Nadir
{
    position: fixed;
    width: 100%;
    text-align: center;
    bottom: 0;
    line-height: 3;
    background-color: black;
    color: yellow;
}